
<li th:fragment="category(category)">
    <a

            th:id="${'dropdownButton' + category.categoryId}"
            th:attr="data-dropdown-toggle=${#lists.isEmpty(category.children) ? null : 'dropDown' + category.categoryId}"
            data-dropdown-trigger="hover"
            th:href="@{/product/search?categoryIds={categoryId}(categoryId=${category.categoryId})}"
           data-dropdown-placement="right-start"
            type="button"
            class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
        <span th:text="${category.name}"></span>
        <svg
                th:if="${not #lists.isEmpty(category.children)}"
                class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"/>
        </svg>
    </a>
    <div th:if="${not #lists.isEmpty(category.children)}" th:id="${'dropDown'+category.categoryId}"
         class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
    >
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" th:aria-labelledby="${'dropdownButton' + category.categoryId}">
            <th:block th:each="child : ${category.children}">
                <li th:replace="~{this :: category(${child})}"></li>
            </th:block>
        <ul>

    </div>
</li>

