<a
  th:fragment="productCard(product)"
  class="flex flex-col gap-y-1 relative shadow rounded-md hover:shadow-md hover:border border-gray-100"
  th:href="@{/product/{id}(id=${product.slug})}"
>
  <div class="flex items-center p-2 bg-transparent bg-white rounded-md  absolute top-0 left-0 z-10">
    <svg
            class="w-4 h-4 text-yellow-300 mr-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
    >
      <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
      />
    </svg>
    <p class="ml-1 text-sm font-bold text-gray-900 dark:text-white"
       th:text="${product.getAverageRatingDisplay()}">
    </p>

  </div>
  <img
    class="w-full relative aspect-[3/4] rounded-md cursor-pointer"
    th:src="${product.displayImage}"
    th:alt="${product.name}"
  />
  <div class="flex flex-col gap-y-1 p-4">
    <div class="font-semibold text-lg" th:text="${product.name}"></div>
    <div class="flex justify-between items-center" th:with="discount=${product.discount},price=${product.price}">
      <div class="flex gap-1 items-center">
        <div
          class="font-bold"
          th:text="${clientUtil.toVietnameseCurrency(price)}"
          th:class="${product.discount > 0} ? ' line-through text-gray-500 text-sm' : ''"
        ></div>

        <div
          class="font-bold"
          th:text="${clientUtil.toVietnameseCurrency(product.getFinalPrice())}"
          th:if="${discount > 0}"
        ></div>
      </div>
      <span
        class="bg-red-100 text-red-800 mr-2 px-2.5 py-0.5 rounded font-bold"
        th:text="'-'+${discount}+'%'"
        th:if="${discount > 0}"
      ></span>
    </div>
  </div>
</a>
