<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="layout"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Mua ngay</title>
  </head>
  <body>
    <div layout:fragment="content" class="max-w-screen-xl px-3 mx-auto min-h-[80vh] grid place-items-center">
      <div class="bg-white p-6 md:mx-auto">
        <svg viewBox="0 0 24 24" class="mx-auto my-6 h-16 w-16 text-red-600">
          <path
            fill="currentColor"
            d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
          ></path>
        </svg>
        <div class="text-center">
          <h3 class="text-center text-base font-semibold text-gray-900 md:text-2xl" th:text="${header}"></h3>
          <p class="my-2 text-gray-600" th:text="${message}"></p>
          <p th:text="${subMessage}"></p>
          <div class="flex justify-center gap-x-4 py-10 text-center">
            <a
              th:href="@{/home}"
              class="rounded-full bg-gray-800 px-12 py-3 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300"
            >
              Về trang chủ
            </a>
            <a
              th:href="${detailUrl}"
              class="rounded-full bg-indigo-800 px-12 py-3 text-sm font-medium text-white hover:bg-indigo-900 focus:outline-none focus:ring-4 focus:ring-indigo-300"
            >
              Chi tiết đơn hàng
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
