<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="admin/layout"
>
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <script src="/js/statusUtil.js"></script>
    <script src="/js/tableUtil.js"></script>
    <section
            class="bg-gray-50 p-3 sm:p-5 antialiased"
            x-data="tableData({
            startDate: undefined,
            endDate: undefined,
            supplierId: undefined,
            totalFrom: 0,
            totalTo: undefined,
            })"
            x-init="
                const queryStr = window.location.search;
            const queryOBJ = queryString.parse(queryStr);
            queryData = {
                ...queryData,
                ...queryOBJ,
            };
          const fetchData    = (...params) =>{
            loading = true;
            window.apiClient.getAllStockReceipts(...params)
                .then((res) => {
                    total = res.totalPages;
                    totalElement = res.totalElements;
                    hasNextPage = res.hasNext;
                    hasPreviousPage = res.hasPrevious;
                    data = res.data;
                    console.log(res);
                }).catch((err) => {
                console.log(err);
            }).finally(() => {
                loading = false;
            });
        }
    fetchData(...Object.values(queryData));
    $watch('queryData', (value) => {
                window.scroll({
                                top: 0,
                                left: 0,
                                behavior: 'smooth'
                            });
        const queryStr= queryString.stringify(value);
        window.history.pushState(null, null, window.location.pathname + '?' + queryStr);
        fetchData(...Object.values(value));
    }, {deep: true});
    "
    >
        <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
            <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
                <div
                        class="flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
                >
                    <div class="flex-1 flex items-center space-x-2">
                        <h5>
                            <span class="text-gray-500"> Tổng số đơn nhập:</span>
                            <span class="" x-text="totalElement"> </span>
                        </h5>
                    </div>
                    <div
                            class="flex-shrink-0 flex flex-col items-start md:flex-row md:items-center lg:justify-end space-y-3 md:space-y-0 md:space-x-3"
                    ></div>
                </div>
                <div
                        class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 border-t"
                >
                    <div class="w-full md:w-1/2">
                        <form class="flex items-center">
                            <label for="simple-search" class="sr-only"> Tìm kiếm </label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg
                                            aria-hidden="true"
                                            class="w-5 h-5 text-gray-500"
                                            fill="currentColor"
                                            viewbox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        />
                                    </svg>
                                </div>
                                <input
                                        type="text"
                                        id="simple-search"
                                        placeholder="Tìm kiếm"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                                />
                            </div>
                        </form>
                    </div>
                    <div
                            class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
                    >
                        <a
                                th:href="@{/admin/stock-receipt/create}"
                                class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
                        >
                            <svg
                                    class="h-3.5 w-3.5 mr-1.5 -ml-1"
                                    fill="currentColor"
                                    viewbox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true"
                            >
                                <path
                                        clip-rule="evenodd"
                                        fill-rule="evenodd"
                                        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                                />
                            </svg>
                            Nhập hàng
                        </a>
                        <button
                                id="filterDropdownButton"
                                data-dropdown-toggle="filterDropdown"
                                data-dropdown-ignore-click-outside-class="datepicker"
                                class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                                type="button"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true"
                                    class="h-4 w-4 mr-1.5 -ml-1 text-gray-400"
                                    viewbox="0 0 20 20"
                                    fill="currentColor"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                                        clip-rule="evenodd"
                                />
                            </svg>
                            Tuỳ chọn lọc
                            <svg
                                    class="-mr-1 ml-1.5 w-5 h-5"
                                    fill="currentColor"
                                    viewbox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true"
                            >
                                <path
                                        clip-rule="evenodd"
                                        fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                />
                            </svg>
                        </button>
                        <div id="filterDropdown" class="z-10 hidden px-3 pt-1 bg-white rounded-lg shadow w-80 right-0">
                            <div class="flex items-center justify-between pt-2">
                                <h6 class="text-sm font-medium text-black">Lọc</h6>
                                <div
                                        class="flex items-center space-x-3"
                                        x-data="{
                                onApplyFilter(){
                                    const fromDateStr = document.getElementById('date-start').value||undefined;
                                    const toDateStr = document.getElementById('date-end').value||undefined;
                                    // this format dd/mm/yyyy
                                    const fromDate =fromDateStr&& new Date(fromDateStr.split('/')[2], fromDateStr.split('/')[1] - 1, fromDateStr.split('/')[0]);
                                    const toDate =fromDateStr&& new Date(toDateStr.split('/')[2], toDateStr.split('/')[1] - 1, toDateStr.split('/')[0]);
                                    queryData.startDate = fromDate? fromDate.getTime():undefined;
                                    queryData.endDate = toDate? toDate.getTime():undefined;
                                    queryData.totalFrom = Number(document.getElementById('amount-start').value)||undefined;
                                    queryData.totalTo = Number(document.getElementById('amount-end').value)||undefined;
                                    const supplierId = document.getElementById('supplier-filter').value;
                                    queryData.supplierId = supplierId?Number(supplierId):undefined;
                                },
                                clearFilter(){
                                    document.getElementById('date-start').value = '';
                                    document.getElementById('date-end').value = '';
                                    document.getElementById('amount-start').value = '';
                                    document.getElementById('amount-end').value = '';
                                    document.getElementById('supplier-filter').value = '';
                                    queryData.startDate = undefined;
                                    queryData.endDate = undefined;
                                    queryData.amountFrom = undefined;
                                    queryData.amountTo = undefined;
                                    queryData.supplierId = undefined;
                                }
                                }"
                                >
                                    <button
                                            @click="onApplyFilter()"
                                            class="flex items-center text-sm font-medium text-primary-600 hover:underline"
                                    >
                                        Áp dụng
                                    </button>
                                    <button
                                            @click="clearFilter()"
                                            class="flex items-center text-sm font-medium text-primary-600 hover:underline"
                                    >
                                        Xoá lọc
                                    </button>
                                </div>
                            </div>

                            <div
                                    id="accordion-flush"
                                    data-accordion="collapse"
                                    data-active-classes="text-black"
                                    data-inactive-classes="text-gray-500"
                                    class=""
                            >
                                <h2 id="category-heading" class="">
                                    <button
                                            type="button"
                                            class="flex items-center justify-between w-full py-2 px-1.5 text-sm font-medium text-left text-gray-500 border-b border-gray-200 hover:bg-gray-50"
                                            data-accordion-target="#category-body"
                                            aria-expanded="true"
                                            aria-controls="category-body"
                                    >
                                        <span> Khoảng thời gian </span>
                                        <svg
                                                aria-hidden="true"
                                                data-accordion-icon=""
                                                class="w-5 h-5 rotate-180 shrink-0"
                                                fill="currentColor"
                                                viewbox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            />
                                        </svg>
                                    </button>
                                </h2>
                                <div id="category-body" class="hidden" aria-labelledby="category-heading">
                                    <div class="py-2 font-light border-b border-gray-200">
                                        <div date-rangepicker datepicker-format="dd/mm/yyyy"
                                             class="flex items-center datepicker">
                                            <div class="relative">
                                                <input
                                                        name="start"
                                                        datepicker-format="dd/mm/yyyy"
                                                        type="text"
                                                        id="date-start"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="Từ ngày"
                                                />
                                            </div>
                                            <span class="mx-4 text-gray-500">đến</span>
                                            <div class="relative">
                                                <input
                                                        name="end"
                                                        datepicker-format="dd/mm/yyyy"
                                                        type="text"
                                                        id="date-end"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                        placeholder="Đến ngày"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Price -->
                                <h2 id="price-heading" class="">
                                    <button
                                            type="button"
                                            class="flex items-center justify-between w-full py-2 px-1.5 text-sm font-medium text-left text-gray-500 border-b border-gray-200 hover:bg-gray-50"
                                            data-accordion-target="#price-body"
                                            aria-expanded="true"
                                            aria-controls="price-body"
                                    >
                                        <span>Khoảng tiền</span>
                                        <svg
                                                aria-hidden="true"
                                                data-accordion-icon=""
                                                class="w-5 h-5 rotate-180 shrink-0"
                                                fill="currentColor"
                                                viewbox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            />
                                        </svg>
                                    </button>
                                </h2>
                                <div id="price-body" class="hidden" aria-labelledby="price-heading">
                                    <div class="flex items-center py-4 px-2 space-x-3 font-light border-b border-gray-200">
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input
                                                    type="number"
                                                    name="amount-start"
                                                    id="amount-start"
                                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                                    placeholder=" "
                                                    required
                                            />
                                            <label
                                                    for="amount-start"
                                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                            >Từ
                                            </label>
                                        </div>
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input
                                                    type="number"
                                                    name="amount-end"
                                                    id="amount-end"
                                                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                                    placeholder=" "
                                                    required
                                            />
                                            <label
                                                    for="amount-end"
                                                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                            >Đến</label
                                            >
                                        </div>
                                    </div>
                                </div>
                                <h2 id="supplier-heading">
                                    <button
                                            type="button"
                                            class="flex items-center justify-between w-full py-2 px-1.5 text-sm font-medium text-left text-gray-500 border-b border-gray-200 hover:bg-gray-50"
                                            data-accordion-target="#supplier-body"
                                            aria-expanded="true"
                                            aria-controls="price-body"
                                    >
                                        <span> Nhà cung cấp </span>
                                        <svg
                                                aria-hidden="true"
                                                data-accordion-icon=""
                                                class="w-5 h-5 rotate-180 shrink-0"
                                                fill="currentColor"
                                                viewbox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            />
                                        </svg>
                                    </button>
                                </h2>
                                <div id="supplier-body" class="hidden" aria-labelledby="supplier-heading">
                                    <div class="py-2">
                                        <select
                                                id="supplier-filter"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 mb-2 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        >
                                            <option selected value="">Không chọn</option>
                                            <th:block th:each="supplier : ${suppliers}">
                                                <option th:value="${supplier.supplierId}"
                                                        th:text="${supplier.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overflow-x-auto w-full min-h-[60vh]">
                    <table class="w-full text-sm text-left text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th
                                    scope="col"
                                    class="p-4 cursor-pointer"
                                    @click="queryData.sortField = 'supplierId';toggleSortDir();"
                            >
                                <div class="flex items-center gap-x-1">
                                    <span> Mã phiếu nhập</span>
                                    <span id="supplierIdIcon"></span>
                                </div>
                            </th>
                            <th scope="col" class="p-4">Nhà cung cấp</th>
                            <th scope="col" class="p-4 cursor-pointer"
                                @click="queryData.sortField = 'total';toggleSortDir();">
                                <div class="flex items-center gap-x-1">
                                    <span> Tổng tiền</span>
                                    <span id="totalIcon"></span>
                                </div>
                            </th>
                            <th scope="col" class="p-4">Ghi chú</th>
                            <th
                                    scope="col"
                                    class="p-4 cursor-pointer"
                                    @click="queryData.sortField = 'createdDate';toggleSortDir();"
                            >
                                <div class="flex items-center gap-x-1">
                                    <span>Ngày nhập</span>
                                    <span id="createdDateIcon"></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr x-show="loading">
                            <td colspan="7">
                                <div class="h-28 w-full flex justify-center items-center">
                                    <div role="status">
                                        <svg
                                                aria-hidden="true"
                                                class="w-12 h-12 mr-2 text-gray-200 animate-spin fill-primary-600"
                                                viewBox="0 0 100 101"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                                    fill="currentColor"
                                            />
                                            <path
                                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                                    fill="currentFill"
                                            />
                                        </svg>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <template x-for="item in !loading?data:[]" :key="item.stockReceiptId">
                            <tr class="border-b hover:bg-gray-100 cursor-pointer"
                                x-on:click="window.location.href = '/admin/stock-receipt/view/'+item.stockReceiptId">
                                <td class="px-4 py-3 font-medium text-gray-900" x-text="item.stockReceiptId"></td>
                                <td class="px-4 py-3 text-sm font-medium" x-text="item.supplier.name"></td>
                                <td class="px-4 py-3 text-black font-semibold" x-text="VND.format(item.total)"></td>
                                <td class="px-4 py-3 text-sm flex justify-center items-center">
                                    <p x-text="(item.not?.length||0)<30?item.note:item.note.substring(0,27)+'...'"></p>
                                </td>
                                <td
                                        class="px-4 py-3 text-sm"
                                        x-text="new Date(item.createdDate).toLocaleTimeString() + ' - ' + new Date(item.createdDate).toLocaleDateString()"
                                ></td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <nav
                        class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
                        aria-label="Table navigation"
                >
              <span class="text-sm font-normal text-gray-500">
                Hiển thị
                <span class="font-semibold text-gray-900">
                  <span x-text="(queryData.page-1)*queryData.pageSize+1"></span>
                  -
                  <span x-text="(queryData.page-1)*queryData.pageSize+1+data.length-1"></span>
                </span>

                trên
                <span class="font-semibold text-gray-900" x-text="totalElement"></span>
              </span>
                    <ul class="inline-flex items-stretch -space-x-px">
                        <li>
                            <button
                                    x-bind:disabled="!hasPreviousPage"
                                    x-on:click="queryData.page--"
                                    class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="sr-only">Previous</span>
                                <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewbox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </li>
                        <li>
                  <span
                          class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white border border-gray-300"
                          x-text="queryData.page"
                  ></span>
                        </li>
                        <li>
                            <button
                                    x-bind:disabled="!hasNextPage"
                                    x-on:click="queryData.page++"
                                    class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >
                                <span class="sr-only">Next</span>
                                <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewbox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>
</body>
</html>
