<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="layout"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Thông tin tài khoản</title>
  </head>

  <body>
    <div layout:fragment="content" class="max-w-screen-xl mx-auto">
      <script src="/js/addressUtil.js"></script>
      <script th:inline="javascript">
        /*<![CDATA[*/

        const addressFromModel = /*[[${user.address}]]*/ "";
        const avatarFromModel = /*[[${user.avatarUrl}]]*/ "";
      </script>
      <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4">
        <div class="mb-4 col-span-full xl:mb-2">
          <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
              <li class="inline-flex items-center">
                <a th:href="@{/home}" class="inline-flex items-center text-gray-700 hover:text-primary-600">
                  <svg
                    class="w-5 h-5 mr-2.5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                    ></path>
                  </svg>
                  Trang chủ
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-6 h-6 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <a href="#" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2"> Tài khoản </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="w-6 h-6 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="ml-1 text-gray-400 md:ml-2" aria-current="page"> Thông tin tài khoản </span>
                </div>
              </li>
            </ol>
          </nav>
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Thông tin tài khoản</h1>
        </div>
        <!-- Right Content -->
        <div
          class="col-span-full xl:col-auto"
          x-data="{
                    file: undefined,
                    fileUrl: null,
                    isUploading: false,
                }"
          x-init="
                    fileUrl = avatarFromModel;
                 $watch('file', (file) => {
                    if(file){
                        console.log(file);
                        const reader = new FileReader();
                        reader.onload = (e) => {
                            fileUrl = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    }
                 });
                "
        >
          <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6">
            <div class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4">
              <img
                class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0"
                :src="fileUrl? fileUrl : '/images/avatar.jpg'"
                alt="avatar"
              />
              <div>
                <h3 class="mb-1 text-xl font-bold text-gray-900">Ảnh đại diện</h3>
                <div class="mb-4 text-sm text-gray-500">JPG, JPEG hoặc PNG. Kích thước tối đa 1000KB</div>
                <input
                  type="file"
                  id="upload-avatar"
                  hidden
                  class="hidden"
                  accept="image/png, image/jpeg, image/jpg"
                  x-bind:="file"
                  x-on:change="file = $event.target.files[0]"
                />
                <div class="flex items-center space-x-4">
                  <label
                    for="upload-avatar"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300"
                  >
                    <svg
                      class="w-4 h-4 mr-2 -ml-1"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"
                      ></path>
                      <path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path>
                    </svg>
                    Tải lên
                  </label>
                  <button
                    x-on:click="
                         if(!file){
                                            $store.toast.add('error', 'Lỗi','Vui lòng chọn ảnh đại diện');
                                            return;
                                        }
                                        const formData = new FormData();
                                        formData.append('file', file);
                                        isUploading = true;
                                        axios.post('/api/user/update-avatar', formData, {
                                            headers: {
                                                'Content-Type': 'multipart/form-data'
                                            }
                                        }).then(res => {
                                            $store.toast.add('success', 'Thành công','Cập nhật ảnh đại diện thành công');
                                        }).catch(err => {
                                            console.log(err);
                                        } ).finally(() => {
                                            isUploading = false;
                                        });
                    "
                    type="button"
                    class="py-2 px-3 text-sm flex justify-center font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                  >
                    <div role="status mr-2" x-show="isUploading">
                      <svg
                        aria-hidden="true"
                        class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-primary-600"
                        viewBox="0 0 100 101"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="currentColor"
                        />
                        <path
                          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentFill"
                        />
                      </svg>
                      <span class="sr-only">Loading...</span>
                    </div>
                    Lưu ảnh
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6"
            x-data="{
            errors: {}
          }"
          >
            <h3 class="mb-4 text-xl font-semibold">Đổi mật khẩu</h3>
            <form
              x-on:submit="
            $event.preventDefault();
            errors = {};
            let currentPassword = document.getElementById('current-password').value;
            let newPassword = document.getElementById('new-password').value;
            let confirmNewPassword = document.getElementById('confirm-new-password').value;
            if(newPassword === currentPassword){
                errors['newPassword'] = 'Mật khẩu mới không được trùng với mật khẩu hiện tại';
                return;
            }
            if(newPassword !== confirmNewPassword){
                errors['confirmNewPassword'] = 'Mật khẩu xác nhận không khớp';
                return;
            }
            const payload = {
                oldPassword: currentPassword,
                newPassword: newPassword,
            };
            console.log(payload);
            window.apiClient.updateMyPassword(payload).then(res => {
                console.log(res);
                $store.toast.add('success', 'Thành công','Đổi mật khẩu thành công');
            }).catch(err => {
                $store.toast.add('error', 'Lỗi',err.response.error);
                errors ={...err.response.errors};
            } );
            "
            >
              <div class="flex flex-col gap-6">
                <div class="">
                  <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900">
                    Mật khẩu hiện tại
                  </label>
                  <input
                    type="text"
                    name="current-password"
                    id="current-password"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="••••••••"
                    required
                  />
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.oldPassword"></p>
                </div>
                <div class="">
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Mật khẩu mới</label>
                  <input
                    type="password"
                    id="new-password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="••••••••"
                    suggested="current-password"
                    required
                  />
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.newPassword"></p>
                </div>
                <div class="">
                  <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">
                    Xác nhận mật khẩu mới
                  </label>
                  <input
                    suggested="current-password"
                    type="text"
                    name="confirm-new-password"
                    id="confirm-new-password"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="••••••••"
                    required
                  />
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.confirmNewPassword"></p>
                </div>
                <div class="">
                  <button
                    class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    type="submit"
                  >
                    Đổi mật khẩu
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-span-2"
        x-data="{
            errors: {}
        }"
        >
          <div
            class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6"
            x-data="addressPicker"
            x-init="
                        if(addressFromModel){
                            toAddress(addressFromModel).then(address => {
                                provinces = address.provinces;
                                districts = address.districts;
                            
                                wards = address.wards;
                                selectedProvince = address.selectedProvince;
                                selectedDistrict = address.selectedDistrict;
                                selectedWard = address.selectedWard;
                                detailAddress = address.detailAddress;
                            });
                        }"
          >
            <h3 class="mb-4 text-xl font-semibold">Thông tin cá nhân</h3>
            <form
              x-on:submit="
                            $event.preventDefault();
                       
                            if(!selectedProvince || !selectedDistrict || !selectedWard || !detailAddress){
                                $store.toast.add('error', 'Lỗi','Vui lòng nhập đầy đủ thông tin địa chỉ');
                                return;
                            }
                            let fullAddress = toFullAddress({
                                provinces: provinces,
                                districts: districts,
                                wards: wards,
                                selectedProvince: selectedProvince,
                                selectedDistrict: selectedDistrict,
                                selectedWard: selectedWard,
                                detailAddress: detailAddress,
                            });
                            let firstName = document.getElementById('firstname').value;
                            let lastName = document.getElementById('lastname').value;
                            let phoneNumber = document.getElementById('phonenumber').value;
                            let email = document.getElementById('email').value;
                            const payload = {
                                firstName: firstName,
                                lastName: lastName,
                                phoneNumber: phoneNumber,
                                email: email,
                                address: fullAddress,
                            };
                            window.apiClient.updateMyProfile(payload).then(res => {
                               $store.toast.add('success', 'Thành công','Cập nhật thông tin thành công');
                            }).catch(err => {
                                errors ={...err.response.errors};
                                $store.toast.add('error', 'Lỗi',err.response.error);

                            } );
                         "
            >
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900"> Họ và tên đệm </label>
                  <input
                    type="text"
                    name="firstname"
                    id="firstname"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="Nguyễn Văn"
                    th:value="${user.firstName}"
                    required
                  />
                  <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.firstName"></p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900"> Tên </label>
                  <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="Green"
                    th:value="${user.lastName}"
                    required
                  />
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.lastName"></p>
                </div>
                <div th:replace="~{components/AddressPicker::addressPicker()} "></div>
                <div class="col-span-6 sm:col-span-3">
                  <label for="phonenumber" class="block mb-2 text-sm font-medium text-gray-900"> Số điện thoại </label>
                  <input
                    type="number"
                    name="phonenumber"
                    id="phonenumber"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="vd: 0312345678"
                    required
                    th:value="${user.phoneNumber}"
                  />
                   <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.phoneNumber"></p>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="example@company.com"
                    required
                    th:value="${user.email}"
                  />
                     <p class="mt-2 text-sm text-red-600 dark:text-red-500" x-text="errors.email"></p>
                </div>

                <div class="col-span-6 sm:col-full">
                  <button
                    class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    type="submit"
                  >
                    Lưu thay đổi
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
