<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="layout"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8"/>
    <title>Có lỗi xảy ra</title>
</head>

<body>
<div layout:fragment="content">
    <th:block th:switch="${status}">
        <section class="bg-white dark:bg-gray-900" th:case="404">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">
                        404
                    </h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
                        Không tìm thấy
                    </p>
                    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
                        Xin lỗi, chúng tôi không thể tìm thấy trang bạn đang tìm kiếm.
                    </p>
                    <a
                            x-bind:href="window.location.pathname.includes('/admin') ? '/admin' : '/home'"
                            class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
                    >
                        Quay lại trang chủ
                    </a>
                </div>
            </div>
        </section>
        <section class="bg-white dark:bg-gray-900" th:case="500">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">
                        500
                    </h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Lỗi máy chủ</p>
                    <p class="mb-4 text-lg font-light text-gray-500">
                        Chúng tôi xin lỗi vì sự bất tiện này. Chúng tôi đã ghi lại lỗi này và sẽ khắc phục nó trong thời
                        gian sớm
                        nhất.
                    </p>
                </div>
            </div>
        </section>
        <section class="bg-white dark:bg-gray-900" th:case="403">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">
                        403
                    </h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Truy cập bị từ chối</p>
                    <p class="mb-4 text-lg font-light text-gray-500">Bạn không có quyền truy cập trang này.</p>
                    <a
                            x-bind:href="window.location.pathname.includes('/admin') ? '/admin' : '/home'"
                            class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
                    >
                        Quay lại trang chủ
                    </a>
                </div>
            </div>
        </section>
        <section class="bg-white dark:bg-gray-900" th:case="401">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">
                        401
                    </h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Vui lòng đăng nhập</p>
                    <p class="mb-4 text-lg font-light text-gray-500">Bạn cần đăng nhập để truy cập trang này.</p>
                    <a
                            href="/auth/login"
                            class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
                    >
                        Đến trang đăng nhập
                    </a>
                </div>
            </div>
        </section>
        <section class="bg-white dark:bg-gray-900" th:case="*">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500"
                        th:text="${status}"
                    >


                    </h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white" th:text="${message}">
                        Không tìm thấy
                    </p>
                    <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400" th:text="${error}">
                        Xin lỗi, chúng tôi không thể tìm thấy trang bạn đang tìm kiếm.
                    </p>
                    <a
                            x-bind:href="window.location.pathname.includes('/admin') ? '/admin' : '/home'"
                            class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
                    >
                        Quay lại trang chủ
                    </a>
                </div>
            </div>
        </section>
    </th:block>
</div>
</body>
</html>
